body{
    background-color: #1a1a2e;
    color:#00d9ff;
    text-align:center;
    font-family:Arial;
    padding-top: 10%;
}
h1 {
    font-size: 32px;
    margin: 25px 0;
    text-shadow: 0 0 10px #00d9ff;
}